%blue-button {
    background: #54b7ff;
    border: none;
    padding: 12px 137px;
    color: #fff;
    font-size: 20px;
    border-radius: 3px;
    width: 100%;
}

%basic-flex {
    display: flex;
    justify-content: space-between;
}

%footer-text {
    font-size: 14px;
    color: #a8a8a8;
    text-transform: full-size-kana;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/******************************************
                Tab Region
******************************************/
.tab {
    border-bottom: 1px solid #cdcdcd4d;
  }
  .tab button {
    background: none;
    color: #838383;
    border: none;
    cursor: pointer;
    padding: 12px 14px;
    font-size: 18px;
    transition: 0.3s;
    border-bottom: 3px solid transparent;
  }
  .tab button.active {
    border-bottom: 3px solid #00bcff;
    color: #00bcff;
  }
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }




.all-content {
    width: 700px;
    margin: auto;
}

form {
    padding: 20px 0px;
    .form-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 18px;
        label {
            font-family: arial;
            font-size: 14px;
            color: #a9a9a9;
            margin-bottom: 8px;
        }
        input {
            height: 40px;
            font-size: 14px;
            padding: 0px 8px;
            border: 1px solid #9b9b9b;
            border-radius: 2px;
        }
        input::placeholder {
            color: #c5c5c5;
        }
    }
    button {
        @extend %blue-button;
    }
    .terms {
        float: right;
        p {
            @extend %footer-text;
        }
        a {
            color: #00bcff;
        }
    }
}

/*******************************************
                Log In Section
*******************************************/

#SignIn {
    .remember {
        display: flex;
        justify-content: space-between;
        label {
            @extend %footer-text;
        }
        a {
            color: #00bcff;
            @extend %footer-text;
        }
    }
    .or-section {
        @extend %basic-flex;
    }

    .login {
        margin-top: 60px;
    }
}


/*******************************************
                Sign Up Section
*******************************************/

.signin-toggle {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cacaca;
    padding: 0px 20px;

    h3 {
        color: #838383;
        font-size: 20px;
        font-family: chivo;
        font-weight: 100;
    }

    span {
        display: flex;
        align-items: center;
        h4 {
            margin-right: 10px;
            font-size: 15px;
            font-family: 'Open Sans', san-serif;
            color: #9d9d9d;
            font-weight: 100;
        }
        a {
            color: #f39518;
            font-size: 14px;
            text-decoration: none;
        }
    }
}